.box{
    background-color: F9F6F3;
    margin: 20px 0px;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 2px #FE755A26;
}

span{
    color: #FE755A;
    display: flex;
    align-items: center;
    transform: translateX(12px);
}

.inside-box{
    display: flex;
    padding: 20px 0px;  
}

.text-heading h1{
    transform: translate(-14px, 2px);
    color: #FE755A !important;
}

@media (max-width: 768px) {
    .accordion-item{
        padding: 0px;
    }
}

