{% schema %}
{
  "name": "App Footer",
  "target": "section",
  "stylesheet": "index.css",
  "javascript": "app.js",
  "settings": []
}
{% endschema %}

<div class="Container">
   <div class="appFooter">
        <div class="appFooterText">
            <p>Always speak to a veterinary professional before making any changes to your pet’s routine. Learn more about our considerations when interpreting the report <a href="">here.</a></p>
        </div>
        <div class="appFooterImage">
            <img src="{{ "Group1.png" | asset_img_url: 'large' }}" width="1299.198" height="452.751" loading="lazy"/>

        </div>
   </div>
</div>
