{% schema %}
{
  "name": "Brain",
  "target": "section",
  "stylesheet": "index.css",
  "javascript": "app.js",
  "settings": []
}
{% endschema %}

<div class="Container">
    <div class="commonHeading">
        <h2 class="commonH2">Brain</h2>
        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
            <path d="M23.1455 10.1538L10.1887 23.1201" stroke="#10462E" stroke-width="1.75" stroke-linecap="square" stroke-linejoin="round"/>
            <path d="M10.1885 10.771L23.1453 23.7372" stroke="#10462E" stroke-width="1.75" stroke-linecap="square" stroke-linejoin="round"/>
            <circle cx="16.6545" cy="16.6545" r="15.7795" transform="matrix(-1 0 0 1 33.3213 0.291016)" stroke="#10462E" stroke-width="1.75"/>
        </svg>
    </div>
    <div class="Cards">
        <div class="cardInnerElements">
            <div class="cardInnerText"> 
                <p class="diseaseTitle">Dementia</p>
                <p class="learnMore"><a href="#">Learn More</a></p>
            </div>
            <div>
                <div class="gCircle">
                    <div class="CircleM Circle">High Risk</div>
                    <div class="CircleM Circle">Medium Risk</div>
                    <div class="CircleM Circle di">Low Risk</div>
                </div>
            </div>
        </div>
        <div class="cardInnerElements">
            <div class="cardInnerText"> 
                <p class="diseaseTitle">Epilepsy</p>
                <p class="learnMore"><a href="#">Learn More</a></p>
            </div>
            <div class="cardInnerCircle">
                <div class="gCircle">
                    <div class="CircleM Circle">High Risk</div>
                    <div class="CircleM Circle">Medium Risk</div>
                    <div class="CircleM Circle di">Low Risk</div>
                </div>
            </div>
        </div>
    </div>
</div>