{% schema %}
{
  "name": "Digestion",
  "target": "section",
  "stylesheet": "index.css",
  "javascript": "app.js",
  "settings": []
}
{% endschema %}

<div class="Container">
  <div class="commonHeading">
    <h2 class="commonH2">Digestion</h2>
    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
      <path d="M23.1455 10.1538L10.1887 23.1201" stroke="#10462E" stroke-width="1.75" stroke-linecap="square" stroke-linejoin="round"/>
      <path d="M10.1885 10.771L23.1453 23.7372" stroke="#10462E" stroke-width="1.75" stroke-linecap="square" stroke-linejoin="round"/>
      <circle cx="16.6545" cy="16.6545" r="15.7795" transform="matrix(-1 0 0 1 33.3213 0.291016)" stroke="#10462E" stroke-width="1.75"/>
    </svg>
  </div>
  <div class="CardsGroup">
    <div class="dCards">
      <div class="cardInnerElements">
        <div class="cardInnerText">
          <p class="diseaseTitle">Liver Cancer</p>
          <p class="learnMore"><a href="#">Learn More</a></p>
        </div>
        <div>
          <div class="gCircle">
            <div class="CircleM Circle">High Risk</div>
            <div class="CircleM Circle">Medium Risk</div>
            <div class="CircleM Circle di">Low Risk</div>
          </div>
        </div>
      </div>
      <div class="cardInnerElements">
        <div class="cardInnerText">
          <p class="diseaseTitle">Stomach Cancer</p>
          <p class="learnMore"><a href="#">Learn More</a></p>
        </div>
        <div class="cardInnerCircle">
          <div class="gCircle">
            <div class="CircleM Circle">High Risk</div>
            <div class="CircleM Circle">Medium Risk</div>
            <div class="CircleM Circle di">Low Risk</div>
          </div>
        </div>
      </div>
    </div>
    <div class="detailedCards">
        <div class="cardInnerElementsTwo">
            <div class="detailedElments">   
            <div class="InnerElements">
                <div class="cardInnerText">
                    <p class="diseaseTitle">Diabetes</p>
                    <div class="close">
             
                      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                        <path d="M2.20312 1.91406L11.9768 11.6949" stroke="#10462E" stroke-width="1.78953" stroke-linecap="square" stroke-linejoin="round"/>
                        <path d="M11.9756 2.37891L2.2019 12.1597" stroke="#10462E" stroke-width="1.78953" stroke-linecap="square" stroke-linejoin="round"/>
                      </svg>
                    <p class="learnMore">Close</p>
                  </div>
                  </div>
                  <div>
                    <div class="gCircle">
                      <div class="Circle CircleM">High Risk</div>
                      <div class="Circle CircleM ac">Medium Risk</div>
                      <div class="Circle CircleM">Low Risk</div>
                    </div>
                  </div>
            </div>
              <div class="textDetailedElement">
                <p>
                    <span class="spanText">WHAT THIS MEANS</span>: Cooper’s metabolites indicate a predisposition to diabetes. It is common in dogs of his
                    breed, and is worth bringing up to your vet. Consider swapping out his diet for something lower in sugar,
                    and finding alternative treats to reward good behavior.
                  </p>
            </div>
        </div>
     
      </div>
    </div>
  </div>
</div>
