{% schema %}
{
  "name": "Divider",
  "target": "section",
  "stylesheet": "index.css",
  "javascript": "app.js",
  "settings": []
}
{% endschema %}

<div class="Container">
    <img class="Divider" src="{{ "Mask group.png" | asset_img_url: 'large' }}" width="1320" height="21" loading="lazy"/>
</div>