{% schema %}
{
  "name": "General Health",
  "target": "section",
  "stylesheet": "index.css",
  "javascript": "app.js",
  "settings": []
}
{% endschema %}

<div class="Container">
    <div class="gContainer">
  <div class="gHeading">
    <h2 class="commonH2 gh">General Health</h2>
    <div class="gDetails">
      <p>
        We always like to start with fur quality, activity, and diet — three crucial indicators of overall well-being.
      </p>
      <p class="curious">Curious about our methodology? Learn more <a href="#">here.</a></p>
    </div>
  </div>
  <div class="card">
  <div class="cardsGroup">
    <div class="cardContent">
    <h2>Fur Quality</h2>
    <div class="gCircle">
      <div class="Circle">Poor</div>
      <div class="Circle">Fair</div>
      <div class="Circle fq">Good</div>
      <div class="Circle">Excellent</div>
    </div>
  </div>
  </div>
  <div class="cardsGroup">
    <div class="cardContent">
    <h2>Activity</h2>
    <div class="gCircle">
      <div class="Circle">Poor</div>
      <div class="Circle ac">Fair</div>
      <div class="Circle">Good</div>
      <div class="Circle">Excellent</div>
    </div>
  </div>
  </div>
  <div class="cardsGroup">
    <div class="cardContent">
    <h2>Diet</h2>
    <div class="gCircle">
      <div class="Circle">Poor</div>
      <div class="Circle">Fair</div>
      <div class="Circle">Good</div>
      <div class="Circle di">Excellent</div>
    </div>
  </div>
  </div>
</div>
</div>
</div>
