{% schema %}
{
  "name": "Lifestyle",
  "target": "section",
  "stylesheet": "index.css",
  "javascript": "app.js",
  "settings": []
}
{% endschema %}

<div class="Container">
    <div class="lifestyleContainer">
       <div class="lifestyleContainerOne">
        <h2 class="commonH2">Lifestyle Recommendations</h2>
        <div class="lifestyleText">
            <div class="lifetsyleDetails">
                <div class="lifetsyleDetailsContainer">
                    <div class="detailOne">
                        <p>1</p>
                    </div>
                    <div class="detailTwo">
                        <p>Consider swapping out his diet for something lower in sugar, and finding alternative ways to reward good behavior.</p>
                    </div>
                </div>
                <div class="lifetsyleDetailsContainer">
                    <div class="detailOne">
                        <p>2</p>
                    </div>
                    <div class="detailTwo">
                        <p>Try switching to more, shorter walks. More strenuous exercise will help keep his bones strong — like playing fetch or going for a quick run.</p>
                    </div>
                </div>
            </div>
        </div>
       </div>

       <div class="lifestyleContainerTwo">
        <h2 class="commonH2">Ask Your Vet...</h2>
        <div class="areyouvet">
            <div class="areyouvetDetail">
                <p class="vetPOne">ABOUT SHIFTS TO HIS DIET: </p>
                <p class="vetPTwo">Based on Cooper’s metabolites, it seems he is at higher risk for developing arthritis. What calcium-rich foods would you recommend?</p>
            </div>
            <div class="areyouvet">
                <div class="areyouvetDetail">
                    <p class="vetPOne">ABOUT HEALTHIER TREATS:</p>
                    <p class="vetPTwo">Cooper seems to have a predisposition to diabetes. I love to spoil him with treats, but is there any other ways to reward him that won’t have adverse effects on his health?</p>
                </div>
        </div>
    </div>
    </div>
</div>
