{% # theme-check-disable %}
 
 {% schema %}
{
  "name": "Metabolites Page Header",
  "target": "section",
  "stylesheet": "wellnessPageHeader.css",
  "javascript": "wellness.js",
  "settings": []
}
{% endschema %}

<div>
    <img src="{{ "Ellipse 5.png" | asset_img_url: '1515x' }}" id="imageE" style="width: 100%;" height="300" width="100" loading="lazy">
  
    <div class="container-xxl">
        <div class="box">
            <div>
                <h3>Cancer Risk</h3>
            <span class="circle"><p>Normal</p></span>
            </div>
            <div>
                <img src="{{ "v1051-54 [Converted] 1.png" | asset_img_url: '515x' }}" height="200" width="151" loading="lazy">
            </div>
        </div>
    </div>
</div>