{% schema %}
{
  "name": "Nav",
  "target": "section",
  "stylesheet": "index.css",
  "javascript": "app.js",
  "settings": []
}
{% endschema %}

<div class="Container">
    <div class="navElements">
        <div class="disease"><a href="#">Disease Risks</a></div>
        <div class="nSpacer">
            <div class="nCircle">
                <div><a href="#">Brain</a></div>
                </div>
                <div class="nCircle">
                <div><a href="#">Digestion</a></div>
                </div>
        </div>   
        <div><a href="#">Nutrition</a></div>
        <div><a href="#">Immunity</a></div>
        <div class="nCircle">
        <div><a href="#">Others</a></div>
        </div>
    </div>
</div>