{% schema %}
{
  "name": "Other",
  "target": "section",
  "stylesheet": "index.css",
  "javascript": "app.js",
  "settings": []
}
{% endschema %}

<div class="Container">
  <div class="commonHeading">
    <h2 class="commonH2">Other</h2>
    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
      <path d="M23.1455 10.1538L10.1887 23.1201" stroke="#10462E" stroke-width="1.75" stroke-linecap="square" stroke-linejoin="round"/>
      <path d="M10.1885 10.771L23.1453 23.7372" stroke="#10462E" stroke-width="1.75" stroke-linecap="square" stroke-linejoin="round"/>
      <circle cx="16.6545" cy="16.6545" r="15.7795" transform="matrix(-1 0 0 1 33.3213 0.291016)" stroke="#10462E" stroke-width="1.75"/>
    </svg>
  </div>
  <div class="CardsGroups">
    <div class="dCards">
      <div class="cardInnerElements">
        <div class="cardInnerText">
          <p class="diseaseTitle">Gout</p>
          <p class="learnMore"><a href="#">Learn More</a></p>
        </div>
        <div>
          <div class="gCircle">
            <div class="Circle">High Risk</div>
            <div class="Circle">Medium Risk</div>
            <div class="Circle di">Low Risk</div>
          </div>
        </div>
      </div>
    </div>
    <div class="detailedCards">
        <div class="cardInnerElementsTwo">
            <div class="detailedElments">   
            <div class="InnerElements">
                <div class="cardInnerText">
                    <p class="diseaseTitle">Arthritis</p>
                     <div class="close">
                      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                        <path d="M2.20312 1.91406L11.9768 11.6949" stroke="#10462E" stroke-width="1.78953" stroke-linecap="square" stroke-linejoin="round"/>
                        <path d="M11.9756 2.37891L2.2019 12.1597" stroke="#10462E" stroke-width="1.78953" stroke-linecap="square" stroke-linejoin="round"/>
                      </svg>
                     <p class="learnMore">Close</p>
                    </div>
                  </div>
                  <div>
                    <div class="gCircle">
                      <div class="Circle hi">High Risk</div>
                      <div class="Circle">Medium Risk</div>
                      <div class="Circle">Low Risk</div>
                    </div>
                  </div>
            </div>
              <div class="textDetailedElement">
                <p>
                    <span class="spanText">WHAT THIS MEANS</span>: Cooper’s metabolites tell us he is more at risk for arthritis than other dogs of his breed. Make sure his diet is high in calcium and he is getting plenty of exercise to keep his bones strong as he ages.
                  </p>
                <div class="slider">
                    <div class="leftArrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 29 29" fill="none">
                        <path d="M16.8597 20.5417L11.2021 14.8842L16.8597 9.22656" stroke="#10462E" stroke-width="1.75" stroke-linecap="square" stroke-linejoin="round"/>
                        <path d="M14.8602 28.0241C22.1218 28.0241 28.0085 22.1374 28.0085 14.8758C28.0085 7.61422 22.1218 1.72754 14.8602 1.72754C7.59859 1.72754 1.71191 7.61422 1.71191 14.8758C1.71191 22.1374 7.59859 28.0241 14.8602 28.0241Z" stroke="#10462E" stroke-width="1.75"/>
                      </svg>
                    </div>
                    <div class="avatar">
                      <img class="avatarImage" src="{{ "image 1019.png" | asset_img_url: 'large' }}" width="1320" height="21" loading="lazy"/>
                    </div>
                    <div class="sliderText">
                        <p>WE RECOMMEND:</p>
                        <h4>Zesty Paws Hip & Joint Bites</h4>
                        <button>Buy Now</button>
                    </div>
                    <div class="rightArrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 29 29" fill="none">
                        <path d="M12.1119 20.5417L17.7695 14.8842L12.1119 9.22656" stroke="#10462E" stroke-width="1.75" stroke-linecap="square" stroke-linejoin="round"/>
                        <path d="M14.1115 28.0241C6.84991 28.0241 0.963228 22.1374 0.963228 14.8758C0.963228 7.61422 6.84991 1.72754 14.1115 1.72754C21.3731 1.72754 27.2598 7.61422 27.2598 14.8758C27.2598 22.1374 21.3731 28.0241 14.1115 28.0241Z" stroke="#10462E" stroke-width="1.75"/>
                      </svg>
                    </div>
                </div>
            </div>
        </div>
     
      </div>
    </div>
  </div>
</div>



