{% schema %}
{
  "name": "Report Logo",
  "target": "section",
  "stylesheet": "index.css",
  "javascript": "app.js",
  "settings": []
}
{% endschema %}

<div class="firstContainer">
<div class="secondContainer">
<div class="container rlogo">
  <img src="{{ "Everfur_Vector-Wordmark_RGB_DarkGreen.png" | asset_img_url: 'large' }}" height="138" width="388" loading="lazy"/>
</div>
</div>
</div>